<launch>
  <group ns="theseus">
    <node name="groundstation" pkg="theseus" type="theseus_groundstation" output="screen"/>
    <node pkg="rostopic" type="rostopic" name="fake_gps_fix" args="pub /groundstation/fake/gps sensor_msgs/NavSatFix --latch --file=$(find theseus)/viz/webster_field.gps" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find theseus)/viz/gs.rviz"/>
  </group>
</launch>
