<launch>
  <group ns="theseus">
    <rosparam command="load" file="$(find theseus)/param/path_planning.yaml"  />
    <!-- ROS Parameters below this line are not needed for the launch file, UNLESS you are testing WITHOUT the plane publishing to state -->
    <param name="testing/init_references" value="true"/>
    <param name="testing/lat_ref" value="38.14326388888889"/>
    <param name="testing/lon_ref" value="-76.43075"/>
    <param name="testing/h_ref" value="6.701"/>
    <param name="testing/N_init" value="0.0"/>
    <param name="testing/E_init" value="0.0"/>
    <param name="testing/D_init" value="0.0"/>
    <remap from="/waypoint_path" to="/fixedwing/waypoint_path"/>
    <remap from="/state" to="/fixedwing/state"/>
    <node name="pathplanner" pkg="theseus" type="theseus_path_planner" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find theseus)/viz/path_planner.rviz" required="true"/>
  </group>
</launch>
